body{
    font-family: sans-serif;
    background-color: rgb(180, 180, 255);
}

h1{
    text-align: center;
    margin: 2rem;
}

form{
    width: 40rem;
    margin: auto;
    background-color: rgb(198, 242, 247);
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}