<%- include('includes/head',{pageTitle:'An error occurred'}) %>

</head>
<body>
    <%- include('includes/header') %>
<main>
    <h1>Not authorized!</h1>
    <p>Your are not authorized</p>
    <p><a class="btn" href="/">Back to safety</a></p>
</main>
<%- include('includes/footer') %>