<%- include('includes/head.ejs', { title: 'profile' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>The profile Page</h1>
    <p>You should only get here, if you're authenticated (logged in).</p>
    <p>Your profile</p>
  </main>
</body>
</html>